<!-- Main Navbar -->
<div class="main-navbar">
    <div class="col-12 d-flex align-items-center">
        <!-- Brand -->
        <div class="brand col-10 col-lg-6 offset-1 offset-xl-0">
            <p class="text-white mb-0 ms-3">Game-Dev</p>
        </div>
        <!-- Search Bar -->
        <div class="search-bar col-lg-5 col-xl-4 d-none d-lg-block">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
            <input type="text" class="form-control ps-5" placeholder="Search game...">
        </div>
        <!-- Profile -->
        <div class="profile col-1 col-xl-2 d-flex justify-content-end pe-xl-5">
            <div class="notification">
                <img src="../../../../assets/images/navbar/BellFill.svg" alt="Notification">
            </div>
            <div class="avatar ms-4 d-none" (click)="onRegister()">
                <img class="w-100 h-100"
                    src="https://images.unsplash.com/photo-1651855202852-3c7e6c0a4beb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
                    alt="Avatar">
            </div>
        </div>
    </div>
</div>